<div class="header sticky top-0 bg-white shadow p-4">
    <div class="header-content sticky top-0 flex items-center flex-row  h-14">
      <div>
        <button class="relative group">
          <div (click) = "inputSideNav.toggle()" class="relative flex overflow-hidden items-center justify-center rounded-full w-[40px] h-[40px] transform transition-all duration-200 shadow-md">
            <div class="flex flex-col justify-between w-[20px] h-[20px] transform transition-all duration-300 origin-center overflow-hidden group-focus:translate-x-1.5">
              <div class="bg-slate-800 h-[2px] w-5 transform transition-all duration-300 origin-left group-focus:rotate-[42deg] group-focus:w-2/3 delay-150"></div>
              <div class="bg-slate-800 h-[2px] w-5 transform transition-all duration-300 group-focus:translate-x-10"></div>
              <div class="bg-slate-800 h-[2px] w-5 transform transition-all duration-300 origin-left group-focus:-rotate-[42deg] group-focus:w-2/3 delay-150"></div>
            </div>
          </div>
        </button>
      </div>
      

      <div class="flex ml-auto">
        <div class="flex flex-row items-center">
          <img
            src="https://pbs.twimg.com/profile_images/378800000298815220/b567757616f720812125bfbac395ff54_normal.png"
            alt
            class="h-10 w-10 bg-gray-200 border rounded-full"
          />
          <span class="flex flex-col ml-2">
            <span class="truncate w-20 font-semibold tracking-wide leading-none">John Doe</span>
            <span class="truncate w-20 text-gray-500 text-xs leading-none mt-1">Manager</span>
            
          </span>
        
        </div>
      </div>
    </div>
</div>

