

    <div class="dashboard-content h-screen overflow-auto p-5 bg-gray-100">
        <div class="title flex p-0 m-0">
        <mat-icon class="text-cyan-600" >space_dashboard</mat-icon>
      <h1 class="font-bold text-md text-gray-700"> / Dashboard</h1>
    </div>
    <div class="container mt-8">
    <mat-card class="example-card max-w-lg">
        <mat-card-header>
          <mat-card-title>TD-ARP: 01-2313-123</mat-card-title>
          <mat-card-subtitle>Classification: asdsadasd</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
            <button type="button" class="btn-primary">Pay</button>
            </mat-card-actions>
      </mat-card>
    </div>
    </div>
  