<div class="sidebar h-screen relative p-4">
<div class="sidebar-content flex flex-col h-100 relative flex-shrink-0  text-black w-64">
    <div class="logo-container">
    <a href="/" class="flex justify-center items-center no-underline h-14 mb-4">
        <img class="max-w-sm h-14" src="././assets/images/agoncillo-logo.png" alt="">
        <span class="ml-4 font-medium text-2xl"> Agoncillo RPT</span>
    </a>
    </div>
    <hr>
    <div class="items-container">
        <ul class="flex flex-col w-full mt-10">
            <li>
                <a href="#" routerLink="/admin/dashboard" routerLinkActive="active" class="flex flex-row items-center h-10 p-6 my-1 rounded-lg hover:bg-gray-200">
                    <mat-icon>space_dashboard</mat-icon>
                    <span class="ml-2">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="#" routerLink="/admin/payment" routerLinkActive="active" class="flex flex-row items-center h-10 p-6 my-1  rounded-lg hover:bg-gray-200">
                    <mat-icon>folder</mat-icon>
                    <span class="ml-2">Records</span>
                </a>
            </li>
            <li>
                <a href="#" routerLink="/admin/settings" routerLinkActive="active" class="flex flex-row items-center h-10 p-6 my-1 rounded-lg hover:bg-gray-200">
                    <mat-icon>settings</mat-icon>
                    <span class="ml-2">Settings</span>
                </a>
            </li>
            <li>
                <a href="#" class="flex flex-row items-center h-10 p-6 my-1 rounded-lg hover:bg-gray-200">
                    <mat-icon>logout</mat-icon>
                    <span class="ml-2">Logout</span>
                </a>
            </li>
        </ul>
      
       
    </div>
   
</div>
<div class="sidebar-footer flex justify-center items-center absolute bottom-0 h-20  w-full m-0 p-0">

</div>
</div>