<div class="sidebar h-screen relative">
<div class="sidebar-content flex flex-col h-100 relative flex-shrink-0  p-4 text-black w-64">
    <div class="logo-container">
    <a href="/" class="flex justify-center items-center mb-2 no-underline">
        <img class="max-w-sm h-12" src="././assets/images/agoncillo-logo.png" alt="">
        <span class="ml-4 font-medium text-2xl"> Agoncillo RPT</span>
    </a>
    </div>
    <hr>
    <div class="items-container">
        <ul class="flex flex-col w-full mt-10">
            <li>
                <a href="#" class="flex flex-row items-center h-10 p-6 my-1 rounded-lg bg-gray-200">
                    <mat-icon>space_dashboard</mat-icon>
                    <span class="ml-2">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="#" class="flex flex-row items-center h-10 p-6 my-1  rounded-lg hover:bg-gray-200">
                    <mat-icon>folder</mat-icon>
                    <span class="ml-2">Records</span>
                </a>
            </li>
            <li>
                <a href="#" class="flex flex-row items-center h-10 p-6 my-1 rounded-lg hover:bg-gray-200">
                    <mat-icon>settings</mat-icon>
                    <span class="ml-2">Settings</span>
                </a>
            </li>
            <li>
                <a href="#" class="flex flex-row items-center h-10 p-6 my-1 rounded-lg hover:bg-gray-200">
                    <mat-icon>logout</mat-icon>
                    <span class="ml-2">Logout</span>
                </a>
            </li>
        </ul>
      
       
    </div>
   
</div>
<div class="sidebar-footer flex justify-center items-center absolute bottom-0 h-20  w-full m-0 p-0">
    <button id="dropdownTopButton" data-dropdown-toggle="dropdownTop" data-dropdown-placement="top" class="mr-3 mb-3 md:mb-0 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">Dropdown top <svg class="ml-2 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z" clip-rule="evenodd"></path></svg></button>

    <!-- Dropdown menu -->
    <div id="dropdownTop" class="hidden z-10 w-44 text-base list-none bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700">
        <ul class="py-1" aria-labelledby="dropdownTopButton">
          <li>
            <a href="#" class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Dashboard</a>
          </li>
          <li>
            <a href="#" class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Settings</a>
          </li>
          <li>
            <a href="#" class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Earnings</a>
          </li>
          <li>
            <a href="#" class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Sign out</a>
          </li>
        </ul>
    </div>
</div>
</div>